#app,
html {
  height: 100%;
  overflow: hidden;
}

html,
body {
  height: 100% !important;
  /* ensures the fields accordion works on the CLI */
}

.help-icon {
  font-size: 16px;
  margin-left: 8px;
  color: #333;
  opacity: 0.5;
}

.loading-message {
  display: none;
  padding-top: 25%;
}

.is-loading .loading-message {
  display: block;
}

.is-loading main {
  opacity: 0;
  pointer-events: none;
}

.spinner-holder {
  text-align: center;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 15px;
  left: 15px;
  padding-top: 15px;
}

main {
  margin-top: 100px;
  height: calc(100% - 100px);
  overflow: auto;
}

main.select-template {
  margin-top: 57px;
  height: calc(100% - 57px);
  padding-top: 20px;
}

.builder {
  position: relative;
  padding-top: 15px;
  height: 100%;
}

.content,
.section-holder {
  height: 100%;
}

nav {
  position: fixed;
  z-index: 5;
  top: 57px;
  right: 15px;
  left: 15px;
  padding-top: 0;
}

nav a {
  text-decoration: none;
}

nav > .btn {
  position: absolute;
  right: 0;
  top: calc(50% - 16px);
}

.btn.btn-xs {
  text-decoration: none;
  font-size: 12px;
  padding: 3px 10px;
  line-height: 24px;
}

#manage-data {
  width: 100%;
  margin-top: 10px;
}

.add-field {
  margin-top: -13px;
}

.form-control-static {
  min-height: 44px;
  line-height: 30px;
}

.form-control[readonly] {
  background-color: #f8f8f8;
}

.add-field {
  position: absolute;
  top: 16px;
  right: 15px;
}

.hide-fields {
  position: absolute;
  top: 4px;
  right: 15px;
}

.empty-state {
  padding: 40px 15px 0;
  text-align: center;
}

.change-template .panel {
  margin-top: 30px;
}

.change-template .back-btn {
  padding: 15px 0;
}

.choose-template label {
  color: #14505e;
}

/* TEMPLATES GALLERY */

.templates-sub-title {
  margin-top: 10px;
}

.gallery-heading {
  background-color: #dcdae0;
  padding: 5px 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
}

.template-wrapper {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e9eb;
}

.template-wrapper:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.template-wrapper .template-icon-wrapper {
  position: relative;
  margin-right: 10px;
  height: 65px;
}

.template-wrapper .template-icon-wrapper .template-icon {
  width: 65px;
  height: 65px;
  border: 1px solid #ccc;
  background-color: #e3e9eb;
  border-radius: 21%;
  overflow: hidden;
}

.template-wrapper .template-created-info {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  border-radius: 32px;
}

.template-wrapper .template-title {
  position: relative;
  color: #14505e;
  margin-top: 0;
  padding-right: 20px;
}

.template-wrapper .template-desc {
  margin-bottom: 10px;
}

.readmore,
.readless,
.selectLabel {
  display: block;
}

.help-block.description {
  font-size: 85%;
}

/* END OF TEMPLATES GALLERY */

.component {
  position: relative;
  border: none;
  cursor: move;
  padding: 10px 15px;
  border-bottom: 1px solid #d2d2d2;
  background-color: rgba(255, 255, 255, 0.5);
}

.component:last-child {
  border-bottom: none;
}

.form-preview .component {
  border-color: transparent;
  margin-bottom: 0;
  background-color: transparent;
}

.component[draggable="true"] {
  background-color: rgba(0, 171, 209, 0.3);
}

.component[draggable="true"] {
  background-color: #ffffff;
}

.component[draggable="true"] .add {
  display: none;
}

.component.sortable-ghost[draggable="true"] {
  background-color: rgba(0, 171, 209, 0.3);
}

.component.editing {
  background-color: rgba(0, 171, 209, 0.3);
}

.component:hover:not([draggable="true"]) {
  background-color: #ffffff;
}

.template-controls .btn + .btn,
.component .btn + .btn {
  margin-top: 0;
}

.form-preview {
  overflow: auto;
  height: 100%;
  padding-bottom: 15px;
}

.form-preview input#form-name {
  margin-top: 30px;
  margin-bottom: 15px;
}

.form-preview form {
  border: 1px solid #ccc;
}

.components-list {
  overflow: auto;
  height: 100%;
  padding-bottom: 15px;
}

.components-list > h2 {
  margin-top: 0;
}

.components-list .form-html {
  height: calc(100% - 44px);
  margin-top: 10px;
  overflow: auto;
}

.components-list .form-group > *,
.form-preview .form-group > * {
  pointer-events: none;
}

.components-list .form-group {
  margin-bottom: 0;
}

.component .add {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #0087a6;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  z-index: 3;
}

.component .add:hover {
  background-color: #00abd1;
}

.component:hover .add {
  display: block;
}

.component .form-group .btn {
  margin-bottom: 0;
}

.component .overlay-screen {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border: 3px dashed #00abd1;
}

.component .edit-label {
  text-align: center;
  position: absolute;
  width: 100%;
  top: calc(50% - 12px);
  font-size: 16px;
  font-weight: bold;
  color: #00abd1;
  z-index: 2;
}

.component .delete-field {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 1px;
  text-align: center;
  background: #d9534f;
  color: #fff;
  cursor: pointer;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
}

.component:hover .delete-field,
.component:hover:not([draggable="true"]) .overlay-screen {
  opacity: 1;
  visibility: visible;
}

.component .delete-field:hover {
  background: #c9302c;
}

.form-preview .form-html {
  min-height: 100px;
  padding-bottom: 30px;
  height: calc(100% - 44px);
  overflow: auto;
}

.form-hide-checkbox {
  margin: 15px 0 !important;
}

.checkbox.checkbox-icon.form-hide-checkbox input[type="checkbox"] {
  z-index: 1;
  cursor: pointer;
}

.reduced-opacity {
  opacity: 0.5;
}

/* FILE FIELD */

.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload-disabled label {
  background-color: #e1e1e1;
  border-radius: 31px !important;
  width: 100%;
}

.fileUpload-disabled label span {
  color: #fff;
}

.fileUpload span {
  padding-right: 10px;
}

.fileUpload .canvas-holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 82px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.fileUpload.file-input .canvas-holder {
  min-height: calc(100% - 30px);
  margin-bottom: 10px;
}

.fileUpload .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.fileUpload .row > div {
  padding: 0 15px;
  margin: 0 -1px;
  margin-bottom: 15px;
  width: 33.333%;
}

.fileUpload .canvas-holder .badge {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: -10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.fileUpload .canvas-remove {
  position: absolute;
  padding: 0;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffa7a7;
  border: none;
  box-shadow: none;
  outline: none;
}

.fileUpload .canvas-remove:after,
.fileUpload .canvas-remove:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}

.fileUpload .canvas-remove:before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.fileUpload .canvas-holder canvas {
  width: 100%;
  height: 70px;
}

.fileUpload .btn {
  position: relative;
}

.fileUpload .fa:not(.fa-file) {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  top: 50%;
  margin-top: -10px;
  right: 4px;
  color: #fff;
  opacity: 0.5;
}

.fileUpload input[type="file"] {
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.fileUpload .file-icon {
  font-size: 40px;
}

.fileUpload .file-name {
  display: block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* DATE & TIME PICKERS */

.form-group.fl-time-picker.readonly > .fa:first-child,
.form-group.fl-date-picker.readonly > .fa:first-child {
  color: #e1e1e1;
}

input[type="time"].form-control {
  line-height: 44px;
  padding-top: 0;
  padding-bottom: 0;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  opacity: 0;
}

/* STAR RATING */
.component [_type="flStarRating"] .inverse-direction {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  direction: rtl;
}

.component [_type="flStarRating"] .rating-input,
[data-field="flStarRating"] .rating-input {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0 0 0 -30px;
  opacity: 0;
}

.component [_type="flStarRating"] .rating-input.readonly,
[data-field="flStarRating"] .rating-input.readonly,
.component [_type="flStarRating"] .rating-star.readonly,
[data-field="flStarRating"] .rating-star.readonly,
.component [_type="flStarRating"] .rating-star.readonly .fa,
[data-field="flStarRating"] .rating-star.readonly .fa,
.fileUpload-disabled {
  pointer-events: none;
}

.component [_type="flStarRating"] .rating-star.readonly .fa,
[data-field="flStarRating"] .rating-star.readonly .fa,
.component [_type="flStarRating"] .rating-star.readonly,
[data-field="flStarRating"] .rating-star.readonly {
  color: #e5e5e5;
}

.component [_type="flStarRating"] .rating-star,
[data-field="flStarRating"] .rating-star {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}

.component [_type="flStarRating"] .rating-star .fa,
[data-field="flStarRating"] .rating-star .fa {
  font-size: 30px;
  color: #00abd1;
}

.component [_type="flStarRating"] .rating-star .fa.fa-star-o,
[data-field="flStarRating"] .rating-star .fa.fa-star-o {
  display: block;
}

.component [_type="flStarRating"] .rating-star .fa.fa-star,
[data-field="flStarRating"] .rating-star .fa.fa-star {
  display: none;
}

.component [_type="flStarRating"] .rating-input:checked ~ .rating-star .fa.fa-star-o,
[data-field="flStarRating"] .rating-input:checked ~ .rating-star .fa.fa-star-o {
  display: none;
}

.component [_type="flStarRating"] .rating-input:checked ~ .rating-star .fa.fa-star,
[data-field="flStarRating"] .rating-input:checked ~ .rating-star .fa.fa-star {
  display: block;
}

.component [_type="flStarRating"] .rating-input ~ .readonly.rating-star .fa::before {
  content: "\f005";
  -webkit-text-stroke: 1px #e1e1e1;
}

.component [_type="flStarRating"] .rating-input ~ .readonly.rating-star .fa {
  color: #f8f8f8;
}

.component [_type="flStarRating"] .rating-input:checked ~ .readonly.rating-star .fa {
  color: #e1e1e1;
}

.checkbox.disabled,
.radio.disabled {
  opacity: 0.4;
}

.radio.radio-icon:first-of-type,
.checkbox.checkbox-icon:first-of-type {
  margin-top: 0px;
}

.radio.radio-icon.readonly input[type="radio"]:checked + label > span.check,
.checkbox.checkbox-icon.readonly input[type="checkbox"]:checked + label > span.check {
  background-color: #e1e1e1 !important;
}

.radio.radio-icon.readonly input[type="radio"] + label > span.check,
.checkbox.checkbox-icon.readonly input[type="checkbox"] + label > span.check {
  border: 1px solid #e1e1e1;
}

.form-group .input-group {
  padding: 0;
  position: relative;
  width: 100%;
}

.input-group-addon {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 1px;
  left: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid #d2d2d2 !important;
  z-index: 4;
}

.form-group .input-group .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 57px;
}

/* SIGNATURE FIELD */

.field-signature {
  position: relative;
}

.field-signature .btn-clear {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #aaa;
}

.field-signature canvas {
  background-color: #eee;
  border-radius: 5px;
}

[data-widget-package="com.fliplet.form-builder"]
  [_type="flSignature"]
  .signature-editor.readonly
  .field-signature
  canvas {
  background-color: transparent;
  border-radius: 0%;
  border: none !important;
}

.signature-editor.readonly .field-signature {
  border-bottom: 1px solid #e5e5e5;
}

/* temporary code for the modal */

.modal.active {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
}

.modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 5px;
}

.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: 0;
  border: none;
}

.modal-header .modal-title {
  line-height: 0;
}

.modal-body {
  height: calc(100% - 50px);
  padding: 0 0 77px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-body form {
  padding: 0;
  height: 100%;
}

.modal-body .form-fields-holder {
  height: 100%;
  overflow: auto;
  padding: 15px 15px 0;
}

.modal-body .form-fields-customize {
  cursor: default;
}

.modal-body .form-fields-customize .text-muted {
  color: #00abd1;
}

.modal-body .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
}

.field-id {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  padding: 0;
}

#field-id {
  color: #ababab;
  margin: 0;
  line-height: 19px;
}

.field-label {
  color: #14505e;
}

.close-btn {
  position: absolute;
  bottom: 15px;
  z-index: 1;
  left: 90px;
}

@media screen and (min-width: 640px) {
  .modal-dialog {
    max-width: 50%;
    left: auto;
    margin: 10px;
  }

  .modal-body .form-fields-customize {
    display: inline-block;
    padding-top: 10px;
  }

  .fileUpload .canvas-holder {
    min-height: 130px;
  }

  .fileUpload .canvas-holder canvas {
    width: 100%;
    height: 130px;
  }

  .fileUpload .row > div {
    width: 25%;
  }
}

.form-settings h3 {
  margin-top: 0;
}

.CodeMirror {
  height: auto;
}

/* ACCORDION */

.panel-group {
  margin-bottom: 0;
  height: 100%;
}

.panel-default {
  border-color: #14505e;
}

.panel {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel:last-child {
  border-radius: 0;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #ffffff;
  background-color: #14505e;
  border-color: transparent;
  position: relative;
}

.panel-title {
  padding: 10px 47px 10px 15px;
}

.panel-group .panel-title[aria-expanded="true"] {
  pointer-events: none;
}

.panel-default > .panel-heading + .panel-collapse {
  overflow: auto;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #14505e;
  overflow: auto;
  display: none;
}

.panel-group .panel + .panel {
  margin-top: 1px;
}

.panel-body {
  padding: 0;
}

.panel-heading .chevron-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  font-size: 1.8em;
  text-align: center;
  pointer-events: none;
}

.panel-heading .chevron-icon i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 35px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

.panel-heading .panel-title.collapsed + .chevron-icon i {
  transform: rotate(180deg);
}

.panel .panel-heading[role="tab"] .panel-title {
  font-size: 14px;
  padding: 10px 35px 10px 10px;
}

.panel .panel-heading .panel-title {
  padding: 0;
}

.panel .panel-body {
  padding: 0;
}

.form-preview > h2 {
  margin-top: 0;
}

.required-info,
.required-info-label {
  color: #00abd1;
}

.required-info-label {
  margin-bottom: 10px;
  font-size: 12px;
  opacity: 0;
}

.required-info-label.isRequired {
  opacity: 1;
}

/* ANIMATIONS */

.fade-enter-active {
  transition: all 0.8s ease;
}

.fade-leave-active {
  transition: all 0.8s ease;
}

/* .slide-fade-leave-active for <2.1.8 */

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-in-enter-active {
  transition: all 0.5s ease;
}

.slide-in-leave-active {
  transition: all 0.8s ease;
}

/* .slide-fade-leave-active for <2.1.8 */

.slide-in-enter,
.slide-in-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

form hr {
  border-top: 2px solid #dddddd;
}

.component .btn + .btn {
  margin-right: 15px;
}

.hidden-settings {
  padding: 10px;
  margin-left: 25px;
  margin-top: 5px;
  background-color: #f4f1f2;
  border-radius: 6px;
}

.hidden-settings .form-group {
  margin-bottom: 0;
}

#linkAction > iframe {
  width: 100%;
  border: 0;
}

.selected-folder-holder {
  margin-top: 5px;
}

.ghost-tinymce {
  padding: 10px 8px 8px !important;
}

.mce-container-body .mce-edit-area {
  overflow: hidden;
}

.form-group .mce-tinymce {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-group div.mce-edit-area {
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  border-width: 1px !important;
}

.mce-panel.mce-window.mce-in {
  transform: scale(1) translateY(-70px);
}

@media only screen and (max-width: 670px) {
  .mce-window {
    top: 150px !important;
    bottom: unset !important;
  }
}

.fl-widget-provider {
  width: 100%;
  border: 0;
}

#data-source-provider {
  margin-bottom: -10px;
}

.columns-notification .btn-generate-columns {
  margin-top: 10px;
}

/* Matrix Field */

.fl-matrix {
  position: relative;
  overflow: auto;
  width: 100%;
  max-height: 98vh;
  border: 1px solid #eee;
}

.fl-matrix table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0;
  position: relative;
  width: 360px;
}

.fl-matrix table thead th {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
}

.fl-matrix table thead th:first-child {
  z-index: 2;
}

.fl-matrix table tbody th {
  text-align: left;
  z-index: 1;
}

.fl-matrix table tbody td {
  text-align: center;
}

.fl-matrix table th,
.fl-matrix table td {
  border: solid #eee;
  border-width: 0 1px 1px 0;
  padding: 8px;
  min-width: 130px;
  background: white;
  font-size: 12px;
  word-break: break-all;
  vertical-align: middle;
}

.fl-matrix table th {
  color: rgb(85, 85, 85);
  font-weight: normal;
  line-height: 20px;
}

.fl-matrix table th:last-child,
.fl-matrix table td:last-child {
  border-right-width: 0;
}

.fl-matrix .radio {
  margin-bottom: 0px;
}

@media screen and (min-width: 640px) {
  .fl-matrix table th,
  .fl-matrix table td {
    max-width: auto;
  }
}

.fl-matrix table tr > th:first-child,
.fl-matrix table tr > td:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.fl-matrix table tbody tr:last-child th,
.fl-matrix table tbody tr:last-child td {
  border-bottom-width: 0;
}

.fl-matrix table .radio.radio-icon input[type="radio"] + label > span {
  left: 45px;
}
