<template>
  <div v-if="description" class="help-block description">\{{ description }}</div>

  <template>
    <template v-for="(option, index) in options">
      <div class="checkbox checkbox-icon" v-bind:class="{ 'readonly ' : readonly === true}">
        <input
          type="checkbox"
          :id="name + '-' + index"
          :name="name"
          v-model="value"
          :value="option.id || option.label"
          tabindex="-1"
        >
        <label v-on:click="clickHandler(option)">
          <span
            class="check focus-outline"
            tabindex="0"
            v-on:keydown.space.prevent="!readonly ? clickHandler(option) : false"
          >
            <i class="fa fa-check"></i>
          </span>
          <span class="option-item">\{{ option.label || option.id }}</span>
        </label>
      </div>
    </template>
  </template>

  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{ T "widgets.form.errors.required" }}</p>
</template>
