<template>
  <button v-if="!firstTimeSaved" class="geolocation btn btn-primary focus-outline" @click.prevent="getLocation">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <path d="M12.5 8C10.29 8 8.5 9.79 8.5 12C8.5 14.21 10.29 16 12.5 16C14.71 16 16.5 14.21 16.5 12C16.5 9.79 14.71 8 12.5 8ZM21.44 11C21.2135 8.97212 20.3042 7.08154 18.8613 5.63869C17.4185 4.19585 15.5279 3.28651 13.5 3.06V1H11.5V3.06C9.47212 3.28651 7.58154 4.19585 6.13869 5.63869C4.69585 7.08154 3.78651 8.97212 3.56 11H1.5V13H3.56C3.78651 15.0279 4.69585 16.9185 6.13869 18.3613C7.58154 19.8042 9.47212 20.7135 11.5 20.94V23H13.5V20.94C15.5279 20.7135 17.4185 19.8042 18.8613 18.3613C20.3042 16.9185 21.2135 15.0279 21.44 13H23.5V11H21.44ZM12.5 19C8.63 19 5.5 15.87 5.5 12C5.5 8.13 8.63 5 12.5 5C16.37 5 19.5 8.13 19.5 12C19.5 15.87 16.37 19 12.5 19Z" fill="white"/>
    </svg>
    {{T "widgets.form.geolocation.getLocation"}}
  </button>
  <button v-else class="geolocation btn btn-primary focus-outline" @click.prevent="updateLocation">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <path d="M12.5 8C10.29 8 8.5 9.79 8.5 12C8.5 14.21 10.29 16 12.5 16C14.71 16 16.5 14.21 16.5 12C16.5 9.79 14.71 8 12.5 8ZM21.44 11C21.2135 8.97212 20.3042 7.08154 18.8613 5.63869C17.4185 4.19585 15.5279 3.28651 13.5 3.06V1H11.5V3.06C9.47212 3.28651 7.58154 4.19585 6.13869 5.63869C4.69585 7.08154 3.78651 8.97212 3.56 11H1.5V13H3.56C3.78651 15.0279 4.69585 16.9185 6.13869 18.3613C7.58154 19.8042 9.47212 20.7135 11.5 20.94V23H13.5V20.94C15.5279 20.7135 17.4185 19.8042 18.8613 18.3613C20.3042 16.9185 21.2135 15.0279 21.44 13H23.5V11H21.44ZM12.5 19C8.63 19 5.5 15.87 5.5 12C5.5 8.13 8.63 5 12.5 5C16.37 5 19.5 8.13 19.5 12C19.5 15.87 16.37 19 12.5 19Z" fill="white"/>
    </svg>
    {{T "widgets.form.geolocation.updateLocation"}}
  </button>
  <div v-if="showFeedback">
    <div v-if="isLoading">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
        <path d="M5 10C7.7105 10 10 7.7105 10 5H9C9 7.1685 7.1685 9 5 9C2.8315 9 1 7.1685 1 5C1 2.832 2.8315 1 5 1V0C2.2895 0 0 2.29 0 5C0 7.7105 2.2895 10 5 10Z" fill="#474A74"/>
      </svg>
    </div>
    <div v-else class="geolocation text-info">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7367 0.704706C11.9053 0.873516 12 1.10235 12 1.34093C12 1.57951 11.9053 1.80834 11.7367 1.97715L4.41773 9.29612C4.33324 9.38053 4.2328 9.44728 4.12225 9.4925C4.01171 9.53771 3.89327 9.56048 3.77385 9.55947C3.65442 9.55847 3.53638 9.53371 3.42662 9.48664C3.31685 9.43957 3.21754 9.37114 3.13448 9.28531L0.249873 6.30347C0.0853669 6.13158 -0.00440809 5.90155 0.000166642 5.66367C0.00474138 5.42579 0.103294 5.19939 0.274287 5.03394C0.44528 4.8685 0.674809 4.77747 0.912714 4.78075C1.15062 4.78403 1.37755 4.88134 1.54393 5.05143L3.79231 7.37545L10.4643 0.704706C10.6331 0.536107 10.8619 0.441406 11.1005 0.441406C11.3391 0.441406 11.5679 0.536107 11.7367 0.704706Z" fill="#474A74"/>
      </svg>
      {{T "widgets.form.geolocation.locationSaved"}}
    </div>
  </div>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">
    {{T "widgets.form.errors.required"}}
  </p>
</template>