<div v-if="description" class="help-block description">\{{ description }}</div>

<input
  type="text"
  class="form-control focus-outline"
  v-model.trim.lazy="value"
  v-on:change="!readonly ? updateValue() : false"
  v-on:input="!readonly ? onInput($event) : false"
  :name="name"
  :id="name"
  :placeholder="placeholder"
  tabindex="0"
  :readonly="readonly"
/>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
