<div v-if="description" class="help-block description">\{{ description }}</div>
<div class="fl-matrix">
  <table>
    <thead>
      <tr>
        <th></th>
        <th v-for="(column, index) in columnOptions">\{{ column.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(row, rowIndex) in rowOptions">
        <th>\{{ row.label }}</th>
        <td v-for="(column, colIndex) in columnOptions">
          <div class="radio radio-icon" :class="{ 'readonly' : readonly }">
            <input type="radio" class="matrix-radio-input" :id="getOptionId(rowIndex, colIndex, 'input')" :name="getOptionName(rowIndex)" :value="column.id" v-model.lazy="$v.value.$model">
            <label v-on:click="readonly ? false : clickHandler(row, column, rowIndex, colIndex)">
              <span class="check focus-outline"
                :id="getOptionId(rowIndex, colIndex,'span')"
                ref="matrix"
                v-on:keydown.right.prevent="readonly ? false : focusHandler(rowIndex, colIndex + 1)"
                v-on:keydown.down.prevent="readonly ? false : focusHandler(rowIndex, colIndex + 1)"
                v-on:keydown.left.prevent="readonly ? false : focusHandler(rowIndex, colIndex - 1)"
                v-on:keydown.up.prevent="readonly ? false : focusHandler(rowIndex, colIndex - 1)"
                v-on:keydown.space.prevent="readonly ? false : focusHandler(rowIndex, colIndex)"
                @blur="onBlur()"
                tabindex="0"
              >
                <i class="fa fa-circle"></i>
              </span>
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
