<template>
  <div v-if="description" class="help-block description">\{{ description }}</div>
  <template>
    <template v-for="(option, index) in options">
      <div class="radio radio-icon" :class="{ 'readonly' : readonly }">
        <input
          type="radio"
          :id="name + '-' + index"
          :name="name"
          v-model="value"
          :value="option.id || option.label"
          tabindex="-1"
        >
        <label v-on:click="readonly ? false : clickHandler(option)">
          <span
            ref="radioButton"
            class="check focus-outline"
            tabindex="0"
            v-on:keydown.right.prevent="readonly ? false : focusHandler(index + 1)"
            v-on:keydown.down.prevent="readonly ? false : focusHandler(index + 1)"
            v-on:keydown.left.prevent="readonly ? false : focusHandler(index - 1)"
            v-on:keydown.up.prevent="readonly ? false : focusHandler(index - 1)"
            v-on:keydown.space.prevent="readonly ? false : focusHandler(index)"
          >
            <i class="fa fa-circle"></i>
          </span>
          <span class="option-item"></span>\{{ option.label || option.id }}</span>
        </label>
    </div>
    </template>
  </template>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
</template>
