<template>
  <div v-if="description" class="help-block description">\{{ description }}</div>

  <template>
    <template v-for="(option, index) in options">
      <div class="radio radio-icon" v-bind:class="{ 'readonly ' : readonly === true}">
        <input
          type="radio"
          :id="name + '-' + index"
          :name="name"
          v-model="value"
          :value="option.id || option.label"
          tabindex="-1"
          v-bind:class="{ 'readonly ' : readonly === true}"
        >
        <label v-on:click="!readonly ? clickHandler(option) : false">
          <span
            ref="radioButton"
            class="check focus-outline"
            tabindex="0"
            v-on:keydown.right.prevent="!readonly ? focusHandler(index + 1) : false"
            v-on:keydown.down.prevent="!readonly ? focusHandler(index + 1) : false"
            v-on:keydown.left.prevent="!readonly ? focusHandler(index - 1) : false"
            v-on:keydown.up.prevent="!readonly ? focusHandler(index - 1) : false"
            v-on:keydown.space.prevent="!readonly ? focusHandler(index) : false"
          >
            <i class="fa fa-circle"></i>
          </span>
          <span class="option-item"></span>\{{ option.label || option.id }}</span>
        </label>
    </div>
    </template>

  </template>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
</template>
