<div v-if="description" class="help-block description">\{{ description }}</div>
<template>
  <div v-show="isEditable" class="signature-editor" :class="{ 'readonly' : readonly }">
    <div class="field-signature focus-outline" tabindex="0">
      <canvas :id="name" ref="canvas"></canvas>
      <a
        href="#"
        class="focus-outline btn-clear"
        tabindex="0"
        v-on:click.prevent="clean()"
        v-on:keydown.space.prevent="clean()"
        :class="{ 'hidden' : readonly }"
      >
        <i class="fa fa-times"></i>
        {{T "widgets.form.signature.actions.clear"}}
      </a>
    </div>
  </div>
  <div v-show="!isEditable" class="field-signature focus-outline signature-preview" :class="{ 'readonly' : readonly }" tabindex="0">
    <img :src="value" alt="signature image" />
    <a
      href="#"
      v-on:click.prevent="isEditable = true"
      :class="{ 'hidden' : readonly }"
    >
      {{T "widgets.form.signature.actions.edit"}}
    </a>
  </div>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
</template>
