<div
  class="inverse-direction focus-outline input-star-rating"
  tabindex="0"
  v-on:keydown.up.prevent="readonly ? false : increaseRatingValue()"
  v-on:keydown.right.prevent="readonly ? false : increaseRatingValue()"
  v-on:keydown.down.prevent="readonly ? false : decreaseRatingValue()"
  v-on:keydown.left.prevent="readonly ? false : decreaseRatingValue()"
  @blur="onBlur()"
>
  <template v-for="(option, index) in values">
    <input
      class="rating-input"
      :name="name"
      type="radio"
      :id="name + '-' + index"
      v-model="value"
      :value="option.id"
      v-on:change="readonly ? false : updateValue()"
      v-on:input="readonly ? false : onInput($event)"
      tabindex="-1"
      :readonly="readonly"
      :class="{ 'readonly' : readonly }"
    >
    <label class="rating-star" :class="{ 'readonly' : readonly }" :for="name + '-' + index">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star"></i>
    </label>
  </template>
</div>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
