<div v-if="description" class="help-block description">\{{ description }}</div>
<div
  class="inverse-direction focus-outline input-star-rating"
  tabindex="0"
  v-on:keydown.up.prevent="!readonly ? increaseRatingValue() : false"
  v-on:keydown.right.prevent="!readonly ? increaseRatingValue() : false"
  v-on:keydown.down.prevent="!readonly ? decreaseRatingValue() : false"
  v-on:keydown.left.prevent="!readonly ? decreaseRatingValue() : false"
>
  <template v-for="(option, index) in values">
    <input
      class="rating-input"
      :name="name"
      type="radio"
      :id="name + '-' + index"
      v-model="value"
      :value="option.id"
      v-on:change="!readonly ? updateValue() : false"
      v-on:input="!readonly ? onInput($event) : false"
      tabindex="-1"
      v-bind:readonly="readonly"
      v-bind:class="{ 'readonly' : readonly}"
    >
    <label class="rating-star" v-bind:class="{ 'readonly' : readonly}" :for="name + '-' + index">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star"></i>
    </label>
  </template>
</div>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
