<div v-if="description" class="help-block description">\{{ description }}</div>
<template v-if="autofill === 'always' && defaultSource === 'submission'">
  Now
</template>
<template v-else>
  <div class="form-group fl-time-picker" :class="{ 'readonly' : readonly }" ref="timePicker">
    <i class="fa fa-clock-o fa-fw"></i>
    <input type="time" class="form-control" :name="name" :id="name" :tabindex="!readonly ? 0 : -1"/>
    <input type="text" class="form-control" :tabindex="!readonly ? 0 : -1"/>
    <i class="fa fa-times fa-fw"></i>
  </div>
</template>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">
  {{T "widgets.form.errors.required"}}
</p>
